.left {
    float: left;
}

.right {
    float: right;
}

hr {
    clear: both;
    margin: 20px 0;
 }

 .no-flex:after {
    content:"";
    display:block;
    clear:both;
   }

 .flex {
     display: flex;
     justify-content: space-between;
 }

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px;
    justify-items: start;
}

.grid button:nth-child(2) {
    justify-self: end;
}